.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
  padding: 20px;
}

.form-container {
  background-color: #f0f4f8;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  color: #2c3e50;
  font-size: clamp(24px, 5vw, 36px);
  font-weight: 700;
  margin-bottom: 20px;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  background: #f0f4f8;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #ccc;
}

.forgot-password {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #2c3e50;
}

.signin-button {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2c3e50;
}

@media (max-width: 500px) {
  .form-container {
    max-width: 350px;
  }
}
